body {
    background-color: lightsteelblue;
    color:palevioletred;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.navbar-brand {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p
{
    border: 5px solid ;
}

#name {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}